:root{
  --litght-bg: #fff;
  --dark-bg: #000;
  --bg-color: var(--litght-bg);
}

body, html{ 
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
}

.color__background{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color__interface{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  left: 40%;
  top: 100px;
  font-size: 20px;
}

.color__input{
  background: rgba(237, 237, 237, 0.916);
  height: 70px;
  width: 100%;
  border: 2px solid darkslategray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  outline:none;
}

.color__input:focus{
  color: darkslategrey;
  border: 3.5px solid rgb(20, 91, 103);
}

.color__result{
  color: darkslategrey;
  opacity: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border: 2px solid darkslategray;
  border-radius: 5px;
  font-size: 15px;
} 
